body {
	background: #111111 url(../images/fond-page.png);
	color: #333;

	font-size: 1em;
	font-family: 'Josefin Slab', serif;
}

a img {
	border: 0;
}

#contenu {
	width: 440px;
	height: 240px;

	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;
}

#boite-contenu {
	width: 440px;
	height: 240px;
	
	z-index: 1;
	
	background: #ccc url(../images/fond-bloc.png) no-repeat 0px 0;
}

#in-contenu {
	padding: 20px 30px;
}

article section {
	margin-bottom: 5px;
	line-height: 1.5em;
	font-size: 1.1em;
}

article section a {
	text-decoration: underline;
	color: #e66d1d;
	font-weight: strong;
}

h1 {
	margin-top: 0;
	color: #222;

	line-height: .9em;
	font-size: 2.4em;
	letter-spacing: -.05em;

	padding-bottom: 7px;
	margin-bottom: 7px;

	border-bottom: 3px double #ddd;
}

h1 em {
	font-style: normal;
	font-size: .8em;
	font-weight: normal;
	color: #555;
}






/* Gestion de la photo à gauche */
#photo-gauche {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;

	width: 440px;
	height: 240px;
	display: block;
}

#photo-gauche.animation {
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: 		all 0.4s ease-out 0s;
	-o-transition: 			all 0.4s ease-out 0s;
	transition: 				all 0.4s ease-out 0s;
}

#photo-gauche.position-finale {
	left: -460px;

	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}






#liste-reseaux-sociaux {
	display: block;
	width: 100%;
	padding: 0;
	
	position: absolute;
	bottom: -40px;
	left: 0;
	z-index: -5;
	height: 32px;
}

/* Gestion des vignettes de réseaux sociaux */
#liste-reseaux-sociaux li {
	display: block;
}

#liste-reseaux-sociaux li a {
	display: block;
	float: right;
	
	color: white;
	text-shadow: 0px 0px 9px #777;
	
	font-size: 32px;
	padding: 5px;
	width: 32px;
	margin-top: -40px;
	
	
 	/*opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);*/
}

#liste-reseaux-sociaux li a:hover {
	color: #E66D1D;
	text-shadow: 0px 0px 9px #E66D1D;
}


#liste-reseaux-sociaux li a.position-finale {
	margin-top: 10px;
	
	/*opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);*/
}

#lien-twitter {
	-webkit-transition: all 0.2s ease-out 0.2s;
	-moz-transition: 		all 0.2s ease-out 0.2s;
	-o-transition: 			all 0.2s ease-out 0.2s;
	transition: 				all 0.2s ease-out 0.2s;
} 

#lien-github {
	-webkit-transition: all 0.2s ease-out 0.3s;
	-moz-transition: 		all 0.2s ease-out 0.3s;
	-o-transition: 			all 0.2s ease-out 0.3s;
	transition: 				all 0.2s ease-out 0.3s;
}

#lien-linkedin {
	-webkit-transition: all 0.2s ease-out 0.4s;
	-moz-transition: 		all 0.2s ease-out 0.4s;
	-o-transition: 			all 0.2s ease-out 0.4s;
	transition: 				all 0.2s ease-out 0.4s;
}

#lien-lastfm {
	-webkit-transition: all 0.2s ease-out 0.6s;
	-moz-transition: 		all 0.2s ease-out 0.6s;
	-o-transition: 			all 0.2s ease-out 0.6s;
	transition: 				all 0.2s ease-out 0.6s;
}

#lien-blog {
	-webkit-transition: all 0.2s ease-out 0.8s;
	-moz-transition: 		all 0.2s ease-out 0.8s;
	-o-transition: 			all 0.2s ease-out 0.8s;
	transition: 				all 0.2s ease-out 0.8s;
} 

#liste-reseaux-sociaux #lien-deplier-replier {
	float: left;

	-webkit-transition: all 1s ease-out 1s;
	-moz-transition: 		all 1s ease-out 1s;
	-o-transition: 			all 1s ease-out 1s;
	transition: 				all 1s ease-out 1s;
} 


.boite-droite {
	width: 400px;
	padding: 20px;

	position: absolute;
	left: 0;
	top: 0;
	
	background: #333333;
	/*border: 1px #cccccc solid;*/

	z-index: -5;
 	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	
	-webkit-transition: all 0.2s ease-out 0.4s;
	-moz-transition: 		all 0.2s ease-out 0.4s;
	-o-transition: 			all 0.2s ease-out 0.4s;
	transition: 				all 0.2s ease-out 0.4s;
}

.boite-droite.position-finale {
	left: 460px;
	top: 0;
	
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}


/* Gestion de la boite Github */
.boite-droite.dernier-commit {
	/*	La boîte partira du haut de la colonne plutôt que de la gauche */
	left: 460px;
	top: 0; /* mais ça va bouger */
}

/* Gestion de la boite des disques */
.boite-droite.dernier-disque {
	/*	La boîte partira du haut de la colonne plutôt que de la gauche */
	left: 460px;
	top: 0; /* mais ça va bouger */
}





.boite-droite .texte {
	font-size: 1.2em;	
	line-height: 1.4em;
	color: #cccccc;

	margin-bottom: 10px;
}

.boite-droite .texte:first-letter {
	font-weight: bold;
	font-size: 1.5em;
}

.boite-droite .texte a, .boite-droite .date a {
	color: #cccccc;
}

.boite-droite .date {
	text-decoration: none;
	color: #aaaaaa;
	font-size: .8em;
	font-style: italic;
	
	display: block;
}

.boite-droite .image {
	float: right;
	border: none;
}

/* Légende */
#legende {
	position:absolute;
  bottom:10px;
  right:10px;

  text-align: right;

	color: #888888;

	-webkit-transition: all 0.2s ease-out 0.2s;
	-moz-transition: 		all 0.2s ease-out 0.2s;
	-o-transition: 			all 0.2s ease-out 0.2s;
	transition: 				all 0.2s ease-out 0.2s;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#legende.position-finale {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

#legende a {
	color: #888888;
	font-weight: bold;
}




/* Styles génériques */
.boite {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 

	-moz-box-shadow: 0 0 6px #888;
	-webkit-box-shadow: 0 0 6px#888;
	box-shadow: 0 0 6px #888;
}
