body {
	background: #111111 url(../images/fond-page.png);
	color: #333;

	font-size: 1em;
	font-family: 'Josefin Slab', serif;
}

a img {
	border: 0;
}

#contenu {
	width: 380px;
	height: 200px;

	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -200px;

	padding: 20px 30px;
	background: #ccc url(../images/fond-bloc.png) no-repeat 0px 0;

	
}

article section {
	margin-bottom: 5px;
	line-height: 1.4em;
	font-size: 1.1em;
}

article section a {
	text-decoration: none;
	color: #e66d1d;
	font-weight: strong;
	border-bottom: 1px #e66d1d solid;
}

h1 {
	margin-top: 0;
	color: #222;

	line-height: .9em;
	font-size: 2.4em;
	letter-spacing: -.05em;

	padding-bottom: 7px;
	margin-bottom: 7px;

	border-bottom: 3px double #ddd;
}

h1 em {
	font-style: normal;
	font-size: .8em;
	font-weight: normal;
	color: #555;
}






/* Gestion de la photo à gauche */
#photo-gauche {
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;

	width: 440px;
	height: 240px;
	display: block;
}

#photo-gauche.animation {
	-webkit-transition: all 0.4s ease-out 0s;
	-moz-transition: 		all 0.4s ease-out 0s;
	-o-transition: 			all 0.4s ease-out 0s;
	transition: 				all 0.4s ease-out 0s;
}

#photo-gauche.position-finale {
	left: -460px;

	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}








/* Gestion des vignettes de réseaux sociaux */
#liste-reseaux-sociaux li {
	display: block;
}

#liste-reseaux-sociaux li a {
	display: block;
	position: absolute;
	bottom: 0;
	
	z-index: -5;
 	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

}


#liste-reseaux-sociaux li a.position-finale {
	bottom: -80px;

	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

#lien-twitter {
	right: -10px;

	-webkit-transition: all 0.2s ease-out 0.2s;
	-moz-transition: 		all 0.2s ease-out 0.2s;
	-o-transition: 			all 0.2s ease-out 0.2s;
	transition: 				all 0.2s ease-out 0.2s;
} 

#lien-lastfm {
	right: 50px;

	-webkit-transition: all 0.2s ease-out 0.3s;
	-moz-transition: 		all 0.2s ease-out 0.3s;
	-o-transition: 			all 0.2s ease-out 0.3s;
	transition: 				all 0.2s ease-out 0.3s;
} 

#lien-blog {
	right: 110px;

	-webkit-transition: all 0.2s ease-out 0.4s;
	-moz-transition: 		all 0.2s ease-out 0.4s;
	-o-transition: 			all 0.2s ease-out 0.4s;
	transition: 				all 0.2s ease-out 0.4s;
} 



/* Gestion de la vignette Twitter */
#dernier-tweet {
	position: absolute;
	left: 0;
	top: 0;

	width: 400px;
	padding: 20px;

	background: #333333;
	!border: 1px #cccccc solid;

	z-index: -5;
 	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);

	-webkit-transition: all 0.2s ease-out 0.4s;
	-moz-transition: 		all 0.2s ease-out 0.4s;
	-o-transition: 			all 0.2s ease-out 0.4s;
	transition: 				all 0.2s ease-out 0.4s;
}

#dernier-tweet.position-finale {
	left: 460px;

	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

#tw-texte {
	font-size: 1.2em;	
	line-height: 1.4em;
	color: #cccccc;

	margin-bottom: 10px;
}

#tw-texte:first-letter {
	font-weight: bold;
	font-size: 3em;
	float: left;
	margin: 0 5px 5px 0;
}

#tw-texte a {
	color: #cccccc;
}

#tw-date {
	text-decoration: none;
	color: #aaaaaa;
	font-size: .8em;
	font-style: italic;
}


/* Légende */
#legende {
	position:absolute;
  bottom:10px;
  right:10px;

  text-align: right;

	color: #888888;

	-webkit-transition: all 0.2s ease-out 0.2s;
	-moz-transition: 		all 0.2s ease-out 0.2s;
	-o-transition: 			all 0.2s ease-out 0.2s;
	transition: 				all 0.2s ease-out 0.2s;

	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#legende.position-finale {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

#legende a {
	color: #888888;
	font-weight: bold;
}




/* Styles génériques */
.boite {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; 

	-moz-box-shadow: 0 0 6px #888;
	-webkit-box-shadow: 0 0 6px#888;
	box-shadow: 0 0 6px #888;
}
